.typed-cursor {
  color: #64ffda;
  /* or white (#ffffff) */
}

.fade-bottom {
  -webkit-mask-image: linear-gradient(to bottom, black 10%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}

.animate-fadeIn {
  animation: fadeIn 1.2s ease forwards;
  opacity: 0;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-500 {
  animation-delay: 0.5s;
}

.delay-700 {
  animation-delay: 0.7s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }

  from {
    opacity: 0;
    transform: translateY(20px);
  }
}